body{
    margin: 0;
    font-size: 14px;
    padding: 20px;
}
.container h1{
    text-align: center;
    border: 2px solid #000;
}
.container{
    padding: 0px;
}
.details{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
}
input{
    margin: 8px 0px;
    padding: 5px 10px;
}
div .name{
    
}